In [3]:
import pandas as pd
from pathlib import Path

In [22]:
# Create list of county files
csv_file_list = ["counties_1.csv", "counties_2.csv", "counties_3.csv", "counties_4.csv", "counties_5.csv", "counties_6.csv", "counties_7.csv", "counties_8.csv", "counties_9.csv", "counties_10.csv", "counties_11.csv", "counties_12.csv", "counties_13.csv", "counties_14.csv", "counties_15.csv"]

In [23]:
# Create path for CSVs
data_folder = Path("./Resources/")

In [24]:
# Create dataframes from CSV list and merge into dataframe using concat.
list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(pd.read_csv(data_folder/(filename), sep=','))

counties_df = pd.concat(list_of_dataframes)

print(counties_df)

       latitude  longitude  county_name
0       33.8283   -118.343  Los Angeles
1       33.7707   -118.327  Los Angeles
2       33.2599   -116.361    San Diego
3       36.7739   -121.602     Monterey
4       33.1386   -116.388    San Diego
...         ...        ...          ...
40111   33.0483   -117.227    San Diego
40112   34.3009   -118.582  Los Angeles
40113   32.7772   -117.008    San Diego
40114   37.4383   -121.928  Santa Clara
40115   37.4524   -122.190    San Mateo

[177116 rows x 3 columns]

In [25]:
# Drop duplicates
counties_final_df = counties_df.drop_duplicates()
counties_final_df

       latitude  longitude  county_name
0       33.8283   -118.343  Los Angeles
1       33.7707   -118.327  Los Angeles
2       33.2599   -116.361    San Diego
3       36.7739   -121.602     Monterey
4       33.1386   -116.388    San Diego
...         ...        ...          ...
40111   33.0483   -117.227    San Diego
40112   34.3009   -118.582  Los Angeles
40113   32.7772   -117.008    San Diego
40114   37.4383   -121.928  Santa Clara
40115   37.4524   -122.190    San Mateo

[93884 rows x 3 columns]

In [26]:
# Export county dataframe to csv
counties_final_df.to_csv(r'counties_final.csv', index = False)