In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import requests
import json
from sklearn.preprocessing import StandardScaler
from datetime import date, datetime
from path import Path
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

In [2]:
# Importing the dataset
df = pd.read_csv('./data/encoded_Bird.csv')
y = df.species_num
X = df.drop(["species_num", "Unnamed: 0"], axis=1)

df

,Unnamed: 0,AQI,heavy_rain,high_wind,Year,Population,species_num,counties_num,parameter_num,season_num
0,0,46,0,1,2018,905801.0,1,1,1,1
1,1,77,0,0,2018,905801.0,1,1,1,2
2,2,90,0,1,2018,905801.0,1,1,1,1
3,3,46,0,1,2018,905801.0,5,1,1,1
4,4,46,0,1,2018,905801.0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
1371287,1371287,23,0,0,2016,1160.0,4,54,2,4
1371288,1371288,65,0,0,2016,1160.0,4,54,2,4
1371289,1371289,65,0,0,2016,1160.0,1,54,2,4
1371290,1371290,58,0,0,2012,1166.0,1,54,2,4
1371291,1371291,58,0,0,2012,1166.0,6,54,2,4

In [3]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [4]:
# Scale 
from sklearn.preprocessing import StandardScaler

# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
## Logistic Regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train_scaled, y_train)

/Users/cristinalefemine/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [8]:
# Predicting the Test set results
y_pred = logreg.predict(X_test_scaled)

In [15]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(cm, index=["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10"], columns=["P1", "P2", "P3", "P4", "P5", "P6", "P7", "P8", "P9", "P10"])

cm_df

         P1     P2  P3  P4  P5  P6  P7  P8  P9  P10
A1   222191  25673   0   0   0   0   0   0   0    0
A2    40209  20880   0   0   0   0   0   0   0    0
A3    10621    932   0   0   0   0   0   0   0    0
A4     7769    841   0   0   0   0   0   0   0    0
A5     9651   2119   0   0   0   0   0   0   0    0
A6     1565    106   0   0   0   0   0   0   0    0
A7      138      0   0   0   0   0   0   0   0    0
A8       86      0   0   0   0   0   0   0   0    0
A9       23      1   0   0   0   0   0   0   0    0
A10      18      0   0   0   0   0   0   0   0    0

In [17]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, y_pred)

In [18]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred))

Confusion Matrix

         P1     P2  P3  P4  P5  P6  P7  P8  P9  P10
A1   222191  25673   0   0   0   0   0   0   0    0
A2    40209  20880   0   0   0   0   0   0   0    0
A3    10621    932   0   0   0   0   0   0   0    0
A4     7769    841   0   0   0   0   0   0   0    0
A5     9651   2119   0   0   0   0   0   0   0    0
A6     1565    106   0   0   0   0   0   0   0    0
A7      138      0   0   0   0   0   0   0   0    0
A8       86      0   0   0   0   0   0   0   0    0
A9       23      1   0   0   0   0   0   0   0    0
A10      18      0   0   0   0   0   0   0   0    0

Accuracy Score : 0.7090276906741964
Classification Report

/Users/cristinalefemine/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           1       0.76      0.90      0.82    247864
           2       0.41      0.34      0.37     61089
           3       0.00      0.00      0.00     11553
           4       0.00      0.00      0.00      8610
           5       0.00      0.00      0.00     11770
           6       0.00      0.00      0.00      1671
           7       0.00      0.00      0.00       138
           8       0.00      0.00      0.00        86
           9       0.00      0.00      0.00        24
          10       0.00      0.00      0.00        18

    accuracy                           0.71    342823
   macro avg       0.12      0.12      0.12    342823
weighted avg       0.62      0.71      0.66    342823

In [9]:
# Saving model to disk
pickle.dump(logreg, open('LRmodel.pkl','wb'))

In [10]:

# Loading model to compare the results
model = pickle.load( open('LRmodel.pkl','rb'))
print(model.predict([[1,1,1,1,1,1,1,1]]))

[1]